In [46]:
import pandas as pd
pd.options.display.max_columns = None

In [4]:
ausencias_ro = pd.read_csv('ausencias-ro.csv', sep=';', encoding='iso-8859-1')

In [47]:
ausencias_ro.head(3)

,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCAO,QT_COMPARECIMENTO_DEFICIENCIA,QT_ABSTENCAO_DEFICIENCIA,QT_COMPARECIMENTO_TTE,QT_ABSTENCAO_TTE
0,1,RO,477,CANDEIAS DO JAMARI,21,4,FEMININO,1,SOLTEIRO,1700,17 anos,1,ANALFABETO,1,1,0,1,0,0,0
1,1,RO,477,CANDEIAS DO JAMARI,21,4,FEMININO,1,SOLTEIRO,1900,19 anos,7,SUPERIOR INCOMPLETO,8,7,1,0,0,0,0
2,1,RO,477,CANDEIAS DO JAMARI,21,4,FEMININO,1,SOLTEIRO,2124,21 a 24 anos,1,ANALFABETO,1,1,0,1,0,1,0

In [77]:
colunas =['NR_TURNO', 'DS_FAIXA_ETARIA','NR_ZONA', 'QT_APTOS', 'QT_ABSTENCAO','QT_COMPARECIMENTO_TTE', 'DS_GRAU_ESCOLARIDADE', 'CD_GRAU_ESCOLARIDADE' ]

filtro = ((ausencias_ro['NM_MUNICIPIO'] == 'PORTO VELHO') &
          (ausencias_ro['DS_GENERO'] == 'MASCULINO') &
         (ausencias_ro['DS_FAIXA_ETARIA'] == '16 anos') &
         (ausencias_ro['DS_ESTADO_CIVIL'] == 'SOLTEIRO')&
          (ausencias_ro['NR_ZONA'] == 6)#&
          #(ausencias_ro['DS_GRAU_ESCOLARIDADE'] == 'SUPERIOR INCOMPLETO') 
          
         )

a = ausencias_ro.loc[filtro, colunas]
a.sort_values(by=['NR_TURNO', 'CD_GRAU_ESCOLARIDADE'], ascending = True, na_position = 'first', ignore_index = False)

,NR_TURNO,DS_FAIXA_ETARIA,NR_ZONA,QT_APTOS,QT_ABSTENCAO,QT_COMPARECIMENTO_TTE,DS_GRAU_ESCOLARIDADE,CD_GRAU_ESCOLARIDADE
15139,1,16 anos,6,1,0,0,ANALFABETO,1
36319,1,16 anos,6,1,1,0,LÊ E ESCREVE,2
5602,1,16 anos,6,100,48,17,ENSINO FUNDAMENTAL INCOMPLETO,3
30808,1,16 anos,6,18,8,6,ENSINO FUNDAMENTAL COMPLETO,4
36320,1,16 anos,6,279,70,98,ENSINO MÉDIO INCOMPLETO,5
11788,1,16 anos,6,53,10,15,ENSINO MÉDIO COMPLETO,6
31088,1,16 anos,6,1,0,1,SUPERIOR INCOMPLETO,7
32650,1,16 anos,6,9,1,6,SUPERIOR INCOMPLETO,7
573,2,16 anos,6,1,1,0,ANALFABETO,1
41044,2,16 anos,6,1,1,0,LÊ E ESCREVE,2
2371,2,16 anos,6,100,60,14,ENSINO FUNDAMENTAL INCOMPLETO,3
42636,2,16 anos,6,18,7,5,ENSINO FUNDAMENTAL COMPLETO,4
41045,2,16 anos,6,279,93,90,ENSINO MÉDIO INCOMPLETO,5
16496,2,16 anos,6,53,14,12,ENSINO MÉDIO COMPLETO,6
36984,2,16 anos,6,9,1,6,SUPERIOR INCOMPLETO,7
43962,2,16 anos,6,1,1,0,SUPERIOR INCOMPLETO,7

In [11]:
colunas = list(ausencias_ro.columns)

colunas

['NR_TURNO',
 'SG_UF',
 'CD_MUNICIPIO',
 'NM_MUNICIPIO',
 'NR_ZONA',
 'CD_GENERO',
 'DS_GENERO',
 'CD_ESTADO_CIVIL',
 'DS_ESTADO_CIVIL',
 'CD_FAIXA_ETARIA',
 'DS_FAIXA_ETARIA',
 'CD_GRAU_ESCOLARIDADE',
 'DS_GRAU_ESCOLARIDADE',
 'QT_APTOS',
 'QT_COMPARECIMENTO',
 'QT_ABSTENCAO',
 'QT_COMPARECIMENTO_DEFICIENCIA',
 'QT_ABSTENCAO_DEFICIENCIA',
 'QT_COMPARECIMENTO_TTE',
 'QT_ABSTENCAO_TTE']